<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.behavior.mapper.mapper9102.CallTask9102Mapper" > 
  <parameterMap type="Map" id="proIndex">
  <parameter property="startDate" jdbcType="VARCHAR" mode="IN" javaType="java.lang.String"/> 
  <parameter property="endDate" jdbcType="VARCHAR" mode="IN" javaType="java.lang.String"/> 
  <parameter property="errMsg" jdbcType="VARCHAR" mode="OUT" javaType="java.lang.String"/> 
  </parameterMap>
  <update id="updateKeeperPersonAchievement" parameterMap="proIndex" statementType="CALLABLE" >  
  {call DB_WebNerveData.dbo.P_HR_RecruitmentSystem_Keeper_Person_Achievement_Scheduler(?,?, ?)}
  </update> 
</mapper>