<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.behavior.mapper.mapper91.CallTask91Mapper" > 
	<select id="queryNewBieUserClass" parameterType="Map" resultType="Map">	
  	SELECT distinct CAST(FORMAT(a.FirstAllocTIME,'yyyyMMddHHmmss') AS BIGINT) AS traceTime
  		,a.NerveId as personId,MAX(b.KeeperId) AS KeeperId
	FROM (
		select a.NerveId,min(a.FirstAllocTIME) as FirstAllocTIME,MIN(a.sdate) AS sdate,MAX(a.FirstAllocTIME) AS mxTime 
		from  DB_CompanyData.dbo._NewBieUserClass a
		WHERE   a.Sdate >=20160511 
		GROUP BY a.NerveId  
	) a
	INNER JOIN 	DB_CompanyData.dbo._NewBieUserClass b ON a.NerveId=b.NerveId AND b.FirstAllocTIME =a.mxTime and b.Sdate >=20160511 
	WHERE   a.Sdate >=#{sDate,jdbcType=INTEGER}
	<if test="seDate!=null">
		and a.Sdate&lt;=#{seDate,jdbcType=INTEGER}
	</if>
	GROUP BY a.FirstAllocTIME,a.NerveId	
	</select>
    <select id="queryNewBieUserClassOne" parameterType="Map" resultType="Map">
  	SELECT  CAST(FORMAT(a.FirstAllocTIME,'yyyyMMddHHmmss') AS BIGINT) AS traceTime,a.NerveId as personId
  	<!-- 		, a.personId as pId,a.NerveId as personId,a.KeeperId as kId
  	 		,a.S_B0,a.S_B1,a.S_B2,a.S_B3,a.S_BPLUS,a.S_A0-->
	FROM  (
		select a.NerveId,min(a.FirstAllocTIME) as FirstAllocTIME,MIN(a.sdate) AS sdate
		from  DB_CompanyData.dbo._NewBieUserClass a
		WHERE   a.Sdate >=20160511	
		Group by a.NerveId
	) a	
	WHERE   a.Sdate >=#{sDate,jdbcType=INTEGER}
	<if test="seDate!=null">
		and a.Sdate&lt;#{seDate,jdbcType=INTEGER}
	</if>	
	<!--  AND a.Sdate&lt;=#{nEndDate,jdbcType=INTEGER}
			AND (
			a.S_B0 IS NOT NULL
	        OR a.S_B1 IS NOT NULL
	        OR a.S_B2 IS NOT NULL
	        OR a.S_B3 IS NOT NULL
	        OR a.S_BPLUS IS NOT NULL
	        OR a.S_A0 IS NOT NULL);
	 -->
  </select>
  
  <select id="queryNewBieUserClassAll" parameterType="Map" resultType="Map">
  	SELECT  a.NerveId as personId,CAST(FORMAT(min(a.FirstAllocTIME),'yyyyMMddHHmmss') AS BIGINT) AS traceTime
	FROM ( 
	select a.NerveId,min(a.FirstAllocTIME) as FirstAllocTIME from  DB_CompanyData.dbo._NewBieUserClass a 
	WHERE   a.Sdate >=#{sDate,jdbcType=INTEGER}
	<if test="seDate!=null">
		and a.Sdate&lt;=#{seDate,jdbcType=INTEGER}
	</if>
	Group by a.NerveId
	) a
	group by a.NerveId
  </select>
  
  <select id="queryNerve"  parameterType="Map" resultType="Map">
  	declare @tmpData table(personId int,traceDate datetime,traceEndDate datetime,primary key(personId))
  	<foreach collection="traceList" index="qindex" item="qList" open="" separator=";" close="">
	  	insert into @tmpData values
	  	<foreach collection="qList" index="index" item="mapV" open="" separator="," close="">
	  	(${mapV.personId}
	  	,cast(cast(${mapV.traceTime/1000000}as varchar(10)) as datetime)
	  	,cast(convert(varchar,dateadd(day,${nDays},cast(cast(${mapV.traceTime/1000000} as INT) as char(8))),112) as datetime))
	  	</foreach>
  	</foreach> 
  	SELECT personId
  		,CAST(traceTime AS BIGINT) AS traceTime
	FROM (
	 	select  a.tryNerveId as personId,FORMAT(min(a.CreateTime),'yyyyMMddHHmmss') as traceTime
		from DBNERVE.dbo._Trans_CustomerRelation_EB a
		inner join DBNERVE.dbo.v_Trans_Index b  on a.TransId=b.TransId	
		inner join DBNERVE.dbo._ProductSuit ps on b.ProductSuitId=ps.ProductSuitId
		inner join @tmpData c on a.TryNerveId=c.personId
		where b.PayInfo&lt;&gt;''
				and b.ReturnType=0
				and b.xLastPayTime&gt;=cast(cast(c.traceDate as varchar(10)) as datetime)
			<if test="nDays!=null">
				and b.xLastPayTime&lt;cast(cast(c.traceEndDate as varchar(10)) as datetime)
			</if>
				and a.Valid=1 
				and a.IsNew=1
				and ps.ProductCateTypeId&gt;0 and ps.ProductCateTypeId&lt;4			
		group by a.TryNerveId
	) a
  </select> 
  
  <select id="queryTelPhoneById" parameterType="Map" resultType="Map">
  	select NerveId_ExtInfo as keeperId,hold,begintime as traceTime,nID
	FROM [IPCC].[DB_IPCC].[dbo].[t_WorkerOnCallLog_All]
	where UserId_ExtInfo = #{personId,jdbcType=INTEGER}
	<if test="sDate!=null">
		and BeginTime>=cast(#{sDate,jdbcType=VARCHAR} as datetime)
		and BeginTime&lt;DATEADD(DAY,1,cast(#{sDate,jdbcType=VARCHAR} as datetime))
	</if>
  </select>
   
  <select id="queryTelPhoneDate" parameterType="Map" resultType="Map">
  	declare @tmpData table(personId int,primary key(personId))
  	<foreach collection="traceList" index="qindex" item="qList" open="" separator=";" close="">
	  	insert into @tmpData values
	  	<foreach collection="qList" index="index" item="mapV" open="" separator="," close="">
	  	(${mapV.personId})
	  	</foreach>
  	</foreach> 
  	select a.KeeperId,a.personId
  		,sum(SumHold_All_Out) as hold,sum(CallNum_All_Out) as times
  		,CAST(min(a.sdate) AS BIGINT)*1000000+a.KeeperId%1000000 AS traceTime 
	FROM [DB_IPCCNT].[dbo].[_t_WorkerCallLog_SnapShot] a
	INNER JOIN @tmpData b ON a.personId=b.personId
	where a.Sdate>=cast(#{sDate,jdbcType=VARCHAR} as INT)
	<if test="seDate!=null">
		and a.Sdate&lt;cast(#{seDate,jdbcType=VARCHAR} as INT)
	</if>
	group by a.KeeperId,a.personId
  </select>
  
  <select id="queryTelPhoneFirstDate" parameterType="Map" resultType="Map">
  	declare @tmpData table(personId int,sdate datetime,edate datetime,primary key(personId))
  	<foreach collection="traceList" index="qindex" item="qList" open="" separator=";" close="">
	  	insert into @tmpData values
	  	<foreach collection="qList" index="index" item="mapV" open="" separator="," close="">
	  	(${mapV.personId},cast('${mapV.traceTime}' as datetime),dateadd(day,1, cast('${mapV.traceTime}' as datetime)))
	  	</foreach>
  	</foreach>
  	select a.KeeperId,a.personId
  		,sum(SumHold_All_Out) as hold,sum(CallNum_All_Out) as times
  		,CAST(min(a.sdate) AS BIGINT)*1000000+a.KeeperId%1000000 AS traceTime 
  		,'1' as nFlag
	FROM [DB_IPCCNT].[dbo].[_t_WorkerCallLog_SnapShot] a
	INNER JOIN @tmpData b ON a.personId=b.personId 
		and a.Sdate>=cast(convert(varchar,b.sdate,112) as INT)
		and a.Sdate&lt;=cast(convert(varchar,b.edate ,112) as INT)
	group by a.KeeperId,a.personId
  </select>
  
  <select id="queryTelPhone" parameterType="Map" resultType="Map">
  	declare @tmpData table(personId int,primary key(personId))
  	<foreach collection="traceList" index="qindex" item="qList" open="" separator=";" close="">
	  	insert into @tmpData values
	  	<foreach collection="qList" index="index" item="mapV" open="" separator="," close="">
	  	(${mapV.personId})
	  	</foreach>
  	</foreach> 
  	select KeeperId,personId
  		,SumHold_All_Out as hold
  		,CAST(a.Sdate AS BIGINT)*1000000 AS traceTime
  		,0 as nId
	FROM [DB_IPCCNT].[dbo].[_t_WorkerCallLog_SnapShot] a
	INNER JOIN @tmpData b ON a.personId=b.personId
	where a.Sdate>=cast(#{sDate,jdbcType=VARCHAR} as INT)
	<if test="seDate!=null">
		and a.Sdate&lt;cast(#{seDate,jdbcType=VARCHAR} as INT)
	</if>
  </select>
  
  <select id="queryKeeperUnLockUser" parameterType="Map" resultType="Map">
  	declare @tmpData table(personId int,primary key(personId))
  	<foreach collection="traceList" index="qindex" item="qList" open="" separator=";" close="">
	  	insert into @tmpData values
	  	<foreach collection="qList" index="index" item="mapV" open="" separator="," close="">
	  	(${mapV.personId})
	  	</foreach>
  	</foreach> 
	SELECT distinct Nerveid as personId
	FROM [DB_CompanyData].[dbo].[_NewBieUserUnlockByKeeper] a
	INNER JOIN @tmpData b ON a.Nerveid=b.personId
  </select>
  
  <parameterMap type="Map" id="proWorkerOnCallLog"> 
  <parameter property="isNewDay" jdbcType="INTEGER" mode="IN" javaType="java.lang.Integer"/> 
  <parameter property="sDate" jdbcType="VARCHAR" mode="OUT" javaType="java.lang.String"/> 
  <parameter property="errMsg" jdbcType="VARCHAR" mode="OUT" javaType="java.lang.String"/> 
  </parameterMap>
  <update id="updateWorkerOnCallLog" parameterMap="proWorkerOnCallLog" statementType="CALLABLE" >  
  {call DB_WebNerveData.dbo.P_NewbieUser_Get_WorkerOnCallLog_Scheduler(?, ?, ?)}
  </update>
  
 <select id="queryUpgraderClass360"  parameterType="Map" resultType="Map">
   SELECT distinct a.personId
   FROM [DB_CompanyData].[dbo].[_UpgraderClass] a
   WHERE a.ServiceLevelId=#{servLevelId,jdbcType=INTEGER} AND a.Sdate=#{sDate,jdbcType=INTEGER} AND  a.startstate = 3
 </select> 
 
 <!-- logType 7,11 Tuijian 5,20 Qinxi -->
 <select id="queryPersonReg" parameterType="Map" resultType="Map">
    SELECT aa.personId,CAST(CONVERT(VARCHAR,MIN(a.CreateTime),112) AS INT) AS createDate
	FROM [DB_WebNerveData].[dbo].[t_EbPersonRegExtra_Log] aa
	LEFT JOIN (
	SELECT a.TryNerveId ,a.PersonId,a.CreateTime
	from DBNERVE.dbo._Trans_CustomerRelation_EB a
			inner join DBNERVE.dbo.v_Trans_Index b  on a.TransId=b.TransId	
			inner join DBNERVE.dbo._ProductSuit ps on b.ProductSuitId=ps.ProductSuitId
	WHERE b.PayInfo&lt;&gt;'' 
			AND a.CreateTime&gt;=cast(cast(#{sDate,jdbcType=VARCHAR} as varchar(10)) as datetime)
			and a.CreateTime&lt;DATEADD(DAY,7,CAST(cast(#{sDate,jdbcType=VARCHAR} as varchar(10)) as datetime))
			and a.Valid=1 
	) a ON aa.personId = a.TryNerveId  
	WHERE LogType IN (${logType}) AND CAST(lastCreateTime AS DATE)=CAST(cast(#{sDate,jdbcType=VARCHAR} as varchar(10)) AS DATE)
	GROUP BY aa.personId
 </select>

 
 <insert id="insertSalesRelTelallocStat" parameterType="Map"> 	
  	<foreach collection="traceList" index="qindex" item="qList" open="" separator=";" close="">
	  	insert into DB_CompanyData.dbo.EB_SALES_REL_TELALLOC_STAT(USERID
		      ,STATDATE
		      ,CALLOUTCOST
		      ,CALLOUT
		      ,SDATE) values
	  	<foreach collection="qList" index="index" item="mapV" open="" separator="," close="">
	  	(
	  	${mapV.USERID},${mapV.STATDATE},${mapV.CALLOUTCOST}
	  	,${mapV.CALLOUT},${mapV.SDATE}
	  	)
	  	</foreach>  
  	</foreach>   	
 </insert>
 
 <delete id="deleteSalesRelTelallocStat" parameterType="Map">
 delete from DB_CompanyData.dbo.EB_SALES_REL_TELALLOC_STAT where SDATE=#{nDate,jdbcType=INTEGER}
 </delete>

 <select id="getSalesRelTelallocStatMaxDate" parameterType="Map" resultType="java.lang.Integer">
  	SELECT ISNULL(MAX(SDATE),20160101) 
  	FROM DB_CompanyData.dbo.EB_SALES_REL_TELALLOC_STAT
 </select>
 
 <select id="getVer2" parameterType="Map" resultType="Map">
 	select * from DB_WebNerveData.dbo.gtja2_20170922
 </select>

</mapper>