<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.behavior.mapper.mapper1110.CallTask1110Mapper" >  
  <parameterMap type="Map" id="proIndex">
  <parameter property="actId" jdbcType="INTEGER" mode="IN" javaType="java.lang.Integer"/> 
  <parameter property="sDate" jdbcType="INTEGER" mode="IN" javaType="java.lang.Integer"/> 
  <parameter property="eDate" jdbcType="INTEGER" mode="IN" javaType="java.lang.Integer"/> 
  <parameter property="errMsg" jdbcType="VARCHAR" mode="OUT" javaType="java.lang.String"/> 
  </parameterMap>
  <update id="updateKeeperPlatStatus360" parameterMap="proIndex" statementType="CALLABLE" >  
  {call BD_UserNT.dbo.P_SingleUserPrediction_Get_KeeperPlatStatus_Scheduler(?, ? , ?, ?)}
  </update>
  
  <select id="queryActPeriod" parameterType="Map" resultType="Map">
  <![CDATA[
  SELECT Max(actId) as actId, CAST(CONVERT(VARCHAR,MIN(StartDate),112) AS INT) AS startDate
		,CAST(CONVERT(VARCHAR,MAX(EndDate),112) AS INT) AS endDate
  FROM [DB_WebNerveData].[dbo].[_Mission_Act_Info] 
  WHERE ActName LIKE '%3600%上拽%' AND startDate<=GETDATE() AND EndDate>=GETDATE()
  ]]>			
  </select>  
  
  <select id="queryFunctionUsers" parameterType="Map" resultType="Map">
  SELECT  DISTINCT personId
  FROM [BD_UserNT].[dbo].[_RPlatForm_PersonSource]
  WHERE actId = #{actId,jdbcType=INTEGER}
  </select>
  
  <!-- 查询3600用户 1年2年 -->  
  <select id="queryPerson3600" parameterType="Map" resultType="Map">
    DECLARE @eDate INT 
	DECLARE @actId INT = 31	
	DECLARE @LockDate DATETIME
	  ,@M_3600_old DATETIME
      ,@M_3600_young_begin DATETIME
      ,@M_3600_young_end DATETIME
	  ,@M_3600_young_before_begin DATETIME
	  ,@M_3600_young_before_end DATETIME
      ,@M_3600_child DATETIME
      ,@M_3600_year DATETIME
      ,@M_3600_years DATETIME  
	SELECT @LockDate = LockDate
		,@M_3600_old = M_3600_old
		,@M_3600_young_begin = M_3600_young_begin
		,@M_3600_young_end = M_3600_young_end
		,@M_3600_young_before_begin = M_3600_young_before_begin
		,@M_3600_young_before_end = M_3600_young_before_end
		,@M_3600_child = M_3600_child
		,@M_3600_year = M_3600_year
		,@M_3600_years = M_3600_years
	FROM DB_CompanyData.dbo._DataSystem_All_Data_Config    
	WHERE ActId = @actId
<![CDATA[
	SELECT @eDate = MAX(Sdate)  FROM [DB_CompanyData].[dbo].[_UpgraderClass]  WHERE sdate<=CAST(CONVERT(varchar,@LockDate,112) AS INT)
]]>
	SELECT PersonId as personId,SourceId as userType
	FROM (

		select
			a.PersonId ,
			(case 
			<![CDATA[
				WHEN a.servicelevelid = 0 and c.createtime >= @M_3600_child then 1
				when a.servicelevelid = 0 and c.createtime >= @M_3600_young_begin and c.createtime < @M_3600_young_end then 2
     			when a.servicelevelid = 0 and c.createtime < @M_3600_old then 3
				when a.servicelevelid = 5 and a.enddate <= CONVERT(VARCHAR(10),@M_3600_year ,112) then 4
				when a.servicelevelid = 5 and a.enddate <= CONVERT(VARCHAR(10),@M_3600_years,112) THEN 5
				when a.ServiceLevelId = 0 AND c.createtime >= @M_3600_young_before_begin AND c.createtime < @M_3600_young_before_end THEN 6				
			]]>				
			end) as SourceId,
			a.isBSSource
		 	
		from
		(
			select
				a.PersonId ,
				a.servicelevelid,
				a.enddate,
				case when a.MaintainId IS NOT NULL AND a.ServiceLevelId = 0 THEN 1 ELSE 0 END isBSSource
			from [DB_CompanyData].[dbo].[_UpgraderClass] a
			
			where a.Sdate = @eDate  
				and a.servicelevelid in (0, 1, 2, 5) and a.startstate = 3
		)a
		inner join [DBNERVE].[dbo].[_Human_Person] c 
			on a.personid = c.personid 
	) a WHERE  a.SourceId IS NOT NULL
	<if test="sourceIds!=null">
		AND a.SourceId IN(${sourceIds})
	</if>
 </select>
</mapper>