<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.behavior.mapper.mapper45.CallTask45Mapper" >   
  
  <parameterMap type="Map" id="proMap">
  <parameter property="return" jdbcType="INTEGER" mode="OUT" javaType="java.lang.Integer"/>
  <parameter property="Opid" jdbcType="INTEGER" mode="IN" javaType="java.lang.Integer" />
  <parameter property="personId" jdbcType="INTEGER" mode="IN" javaType="java.lang.Integer"/>
  <parameter property="traceTime" jdbcType="BIGINT" mode="IN" javaType="java.lang.Long"/>
  <parameter property="traceAction" jdbcType="INTEGER" mode="IN" javaType="java.lang.Integer"/>
  <parameter property="errMsg" jdbcType="VARCHAR" mode="OUT" javaType="java.lang.String"/> 
  </parameterMap>
  <insert id="insertUserTracePro" parameterMap="proMap" statementType="CALLABLE">
  	{?=call P_Behavior_CallTaskUser_Anilyzer_Add(?,?,?,?,?)}
  </insert>
  
  <insert id="insertUserTrace" parameterType="Map">
  	declare @tmpData table(personId int,traceTime bigint,traceAction int
  		,hold int null,times int null,extra_0 varchar(50) null,extra_1 varchar(50) null
  		,primary key(personId,traceTime))
  	<foreach collection="traceList" index="qindex" item="qList" open="" separator=";" close="">
	  	insert into @tmpData values
	  	<foreach collection="qList" index="index" item="mapV" open="" separator="," close="">
	  	(
	  	${mapV.personId},${mapV.traceTime},${mapV.traceAction}
	  	,${mapV.hold},${mapV.times},${mapV.extra_0},${mapV.extra_1}
	  	)
	  	</foreach> 
  	</foreach> 
  	MERGE INTO dbo._Behavior_UserTrace AS T
	USING @tmpData AS S
	ON T.personId = S.personId AND T.traceTime = S.traceTime
	<!--  WHEN MATCHED THEN UPDATE SET T.traceAction = S.traceAction -->
	WHEN NOT MATCHED THEN INSERT VALUES(S.personId,S.traceTime,S.traceAction,S.hold,S.times,S.extra_0,S.extra_1);
  </insert>
  
  <select id="queryLoginUser" parameterType="Map" resultType="Map" statementType="CALLABLE">
  {call P_Behavior_Get_UserStatus @logDays=${logDays}, @status=${status}, @errMsg=null}
  </select>
  
  <insert id="insertUserFunctionStat" parameterType="Map">
  	<foreach collection="traceList" index="qindex" item="qList" open="" separator=";" close="">
	  	insert into _Behavior_UserFunctionStat([personid],[productid]
      		,[functionid],[refcount],[activetime],[date],[newDate],[userType]) values
	  	<foreach collection="qList" index="index" item="mapV" open="" separator="," close="">
	  	(
	  	${mapV.personid},${mapV.productid},${mapV.functionid}
	  	,${mapV.refcount},${mapV.activetime},${mapV.date},${mapV.newDate},${mapV.userType}
	  	)
	  	</foreach> 
  	</foreach>
  </insert>
  
  <insert id="addWifi" useGeneratedKeys="true" keyProperty="id" parameterType="Map" >  
      insert into WIFI(SSID, BSSID, CREATED_DATE) values(#{ssid}, #{bssid}, now())   
   </insert>
   
   <insert id="insertApacheLog" parameterType="Map">
   insert into DB_WebNerveData.dbo._ApacheLog_UserLock([action]
           ,[personid]
           ,[productid]
           ,[productlist]
           ,[pid]
           ,[gid]
           ,[user]
           ,[function]
           ,pcode
           ,channel
           ,fromType
           ,sdate
           ,fromView)
     VALUES
           (#{action,jdbcType=VARCHAR}
           ,#{personid,jdbcType=INTEGER}
           ,#{productid,jdbcType=INTEGER}
           ,#{productlist,jdbcType=VARCHAR}
           ,#{pid,jdbcType=VARCHAR}
           ,#{gid,jdbcType=VARCHAR}
           ,#{user,jdbcType=VARCHAR}
           ,#{function,jdbcType=VARCHAR}
           ,#{pcode,jdbcType=VARCHAR}
           ,#{channel,jdbcType=VARCHAR}
           ,#{fromType,jdbcType=INTEGER}
           ,#{sdate,jdbcType=INTEGER}
           ,#{from,jdbcType=INTEGER}
           )
   </insert>
</mapper>